#ladkewale{
    display:none;
    background-position: center;
    background-size:cover;

}
#ladkiwale{
    display:none;
    background-position: center;
    background-size:cover;
}

#toggle{
    display: none;
}
#invitation{
    background-position: center;
    background-size:cover;
}
.card-img-top{
    align-self: center;
    width: 220px;
    height: 220px;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
h2{
    text-align: center;
}
.ex-fam{
    padding-left: 30px;
    padding-right: 30px;
}

.icon-img{vertical-align:middle;width: 30px; height: 35px; margin: 0px 20px 0px 0px;}

.timelefttext{
    text-align: center;
    margin: 60px 0px 90px 0px;
    padding: 150px 0px 150px 0px;
    background-color: #90909090;
    font-size: 25px;
}
label{
    display: inline-block;
    pointer-events: none;
}
#lagan, #mehandi, #disco, #haldi, #bus, #dinner, #varmala{
    pointer-events: none;
    width: 100px;
    height: 80px;
}
.invite{
    font-family: 'Bangers', cursive;
    font-size: 60px;
    font-weight: 100;
}
#intro{
    background-image: url('../img/groom_invite.jpg');
    display: block;
}
p{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}
.sname, .aname{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.pname, .mname{
    font-family: 'Cinzel', serif;
    font-size: 35px;
}
.special_invite_pics{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}