#ladkewale{
    display:none;
    background-position: center;
    background-size:cover;

}
#ladkiwale{
    display:none;
    background-position: center;
    background-size:cover;
}

#toggle{
    display: none;
    background-image: url('../img/BG6.jpg');
}
#eng-pics{
    background-position: center;
    background-size:cover;
    background:#3b2529
}
#eng-pics h3 {
color:white;
}
#map{
    background-position: center;
    background-size:cover;
    background-image: url('../img/PHOTO-2021-07-01-08-19-14.jpg');
    background-attachment:fixed;

}
#map h3, #map p, #map h1, #map h2, #map h5, #map i, #map a{
color: white;
}
 #map h3
 { font-size:24px;
 }

#timeleft{
    background-position: center;
    background-size:cover;
    background-image: url('../img/BG7.jpg');
}
.card{
    background-position: center;
    background-size:cover;
    background-image: url('../img/BG8.jpg');
}
#events{
    background-position: center;
    background-size:cover;
    background-image: url('../img/Move.jpg');
    background-attachment:fixed;
}
#SpecInvitation{
    background-position: center;
    background-size:cover;
    background-image: url('../img/BG6.jpg');
}
.container-fluid{
    background-position: center;
    background-size:cover;

}
#family{
    background-position: center;
    background-size:cover;
    background-image: url('../img/BG6.jpg');
}
#extendedfamily{
    background-position: center;
    background-size:cover;
    background-image: url('../img/BG6.jpg');
}
#invitation{
    background-position: center;
    background-size:cover;
    font-weight: 300;
    font-size: 3em;
    color: #580404;
    font-family: "neuton", serif;
    }
.card-img-topp{
    align-self: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 155px;
}
h2{
    text-align: center;
}
.ex-fam{
    padding-left: 30px;
    padding-right: 30px;
}

.icon-img{vertical-align:middle;width: 30px; height: 35px; margin: 0px 20px 0px 0px;}

.timelefttext{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 150px 0px 150px 0px;
    background-color: #90909090;
    font-size: 25px;
}
label{
    display: inline-block;
    pointer-events: none;
}
#lagan, #mehandi, #disco, #haldi, #bus, #dinner, #varmala{
    pointer-events: none;
    width: 100px;
    height: 80px;
}
.invite{
    font-family: 'Bangers', cursive;
    font-size: 60px;
    font-weight: 100;
}
#intro{
    background-image: url('../img/groom_invite.jpg');
    display: block;
}
p{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}
.sname, .aname{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.pname, .mname{
    font-family: 'Cinzel', serif;
    font-size: 35px;
}
.special_invite_pics{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}