#ladkewale{
    background: url(img/groom_invite.jpg);
    display:none;
    background-position: center;
    background-size:cover;

}
#ladkiwale{
    background: url(img/bride_invite.jpg);
    display:none;
    background-position: center;
    background-size:cover;
}

#toggle{
    display: none;
}
#invitation{
    background: url('img/bg_pink.jpg');
    background-position: center;
    background-size:cover;
}
#groom-icon{
    background-size: contain;
    background-image: url('img/groom_icon.png') ;
    background-position:left;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 55px;
    font-family: 'Indie Flower', cursive;
    font-size:20px;
}
#bride-icon{
    background-size: contain;
    background-image: url('img/bride_icon.jpeg') ;
    background-position:right;
    background-repeat: no-repeat;
    padding: 10px 55px 10px 15px;
    font-family: 'Indie Flower', cursive;
    font-size:20px;
}
.card-img-top{
    align-self: center;
    width: 220px;
    height: 220px;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.wp1,.wp2{
    text-align: center;
}
.ex-fam{
    padding-left: 30px;
    padding-right: 30px;
}